// General imports ------------------------------------------------------------
//
// These imports don't generate CSS, but make defined variables, functions,
// and mixins available for further usage

@import 'base/config_global';
@import 'base/config_site';
@import 'base/state';

// Normalize and document imports ---------------------------------------------

@import 'module/normalize';
@import 'module/doc';

// Module imports -------------------------------------------------------------

//@import 'module/container';
//@import 'module/font';
//@import 'module/text';
//@import 'module/reporting';
//@import 'module/form';
//@import 'module/button';

// Vendor imports -------------------------------------------------------------

//@import 'vendor/somestyles';

// Styles ---------------------------------------------------------------------

// Reusable Classes -----------------------------------------------------------
.clear {
	@extend %is-cf;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	float: left;
	padding-right: $default-gutter-width;

	&:last-child {
		padding-right: 0;
	}

	@include media-max($default-column-breakpoint) {
		padding-right: 0;
	}
}

	.split {
		padding-right: 0;
		margin-right: $default-gutter-width;

		@include media-max($default-column-breakpoint) {
			margin-right: 0;
			padding-right: 0;
		}
	}

.col-1 {
	width: 8.333333%;
}

.col-2 {
	width: 16.666666%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.333333%;
}

.col-5 {
	width: 41.666666%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.333333%;
}

.col-8 {
	width: 66.666666%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33333%;
}

.col-11 {
	width: 91.66666%;
}

.col-12 {
	width: 100%;
}

// YOUR STYLES HERE <---------


// Print ----------------------------------------------------------------------
//
// Inline to avoid the request

@import 'module/print';
